<%= simple_form_for(@coach_tour) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :coachtour_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
