<p id="notice"><%= notice %></p>

<p>
  <strong>Coachtour:</strong>
  <%= @coach_tour.coachtour_id %>
</p>

<%= link_to 'Edit', edit_coach_tour_path(@coach_tour) %> |
<%= link_to 'Back', coach_tours_path %>
